*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shoping-content,.calculation{
    background-color: #6144c0;
}
.mobile{
    max-width: 100px;
    max-height: 100px;
}

.quantitynumber{
    width: 90px;
    background-color: rgb(187, 187, 187);
}
.plusmainas{
    cursor: pointer;
    font-size: 2rem;
}
.cross{
    cursor: pointer;
}